@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Golos';
    src: url('/fonts/Golos-UI_VF.ttf');
}

@font-face {
    font-family: 'Chaney Wide';
    src: url('/fonts/Chaney_Wide_Bold.ttf');
}