---
import DefaultLayout from '@layouts/Default.astro';
import BoxesControlGroup from '@components/BoxesControlGroup.svelte';
import { BoxPostFrontmatter } from '../lib/Boxes';
import '../styles/global.css';

const title = 'Boxes | Secret Boxes';

const posts = await Astro.glob<BoxPostFrontmatter>('../content/**/*.md');
---
<DefaultLayout title={title}>
    <div class="w-3/5 mx-auto">
        <h2 class="font-display text-h2 tracking-1.5 mt-32 mb-2">Secrets in the box</h2>
        <p class="font-semibold tracking-0.5 text-[#575757] mb-5">Let's do this!</p>
        <p class="text-purple-100 mb-9">Secret Boxes contain the essential components for building Secret Applications.<br> 
        They include a simple web interface, a secret contract boilerplate and step-by-step tutorial!</p>
    </div>

    <BoxesControlGroup client:load posts={posts}></BoxesControlGroup>
</DefaultLayout>