---
import DefaultLayout from '@layouts/Default.astro';
import AttributeTag from '@components/AttributeTag.astro';
import PrimaryButton from '@components/ButtonPrimary.astro';
import SecondaryButton from '@components/ButtonSecondary.astro';
import TertiaryButton from '@components/ButtonTertiary.astro';
import '../styles/global.css';

let title = 'Boxes | Secret Boxes';
---
<DefaultLayout title={title}>
    <div>
        <h2>Secret Counter</h2>
        <p>This is the starting point for learning about Secret Contracts. Based on the "simple counter" secret contract this box illustrates the basics of querying and modifying contract state using the <span class="font-bold">"getCount"</span> and <span class="font-bold">"increment"</span> messages</p>
        <PrimaryButton text="Learn More"></PrimaryButton>
        <SecondaryButton text="Repo">
            <span slot="pre-text">
                <!-- Github Logo Here -->
            </span>
        </SecondaryButton>
        <SecondaryButton text="Docs"></SecondaryButton>
        <!-- img or svg goes here-->
    </div>

    <div>
        <!-- img or svg goes here-->

        <h2>Figment Learn</h2>
        <p>Figment Learn is a fun learning pathway to help developers quickly learn about working with Secret Network. Using the DataHub gateway, you'll be taken through the steps to deploy a secret contract to the testnet, and even get some SCRT tokens for your efforts!</p>
        <PrimaryButton text="Learn More"></PrimaryButton>
    </div>

    <div>
        <h2>Richie Rich</h2>
        <AttributeTag attr='Coming Soon'></AttributeTag>
        <p>Figment Learn is a fun learning pathway to help developers quickly learn about working with Secret Network. Using the DataHub gateway, you'll be taken through the steps to deploy a secret contract to the testnet, and even get some SCRT tokens for your efforts!</p>
        <PrimaryButton text="Learn More"></PrimaryButton>
        <!-- img or svg goes here-->
    </div>

    <TertiaryButton text="Explore More Boxes">
        <!-- Fill slot post-text with right facing arrow -->
    </TertiaryButton>

    <div id="mailing-list-forum">
        <h1>Sign up for the Mailing List</h1>
        <p>Sign up today to be on the Secret Boxes mailing list. We;ll let you know about new boxes, coming launches and other developments in the Secret Network universe.</p>

        <!-- This combined form input element could be it's own component, but I only see this one instance, so for now I'll wait -->
        <div>
            <!-- img or svg goes here-->
            <input type="text">
            <button>Subscribe</button>

            <input id="newsletter-checkbox" type="checkbox">
            <label for="newsletter-checkbox">I agree to recieve cool stuffs from Secret Boxes Team</label>
        </div>
    </div>
</DefaultLayout>