---
import DefaultLayout from '@layouts/Default.astro'
import Animation from '@components/Animation.svelte';
import Button from '@components/Button.svelte'
import NewsletterSignup from '@components/NewsletterSignup.svelte';

import '../styles/global.css';

const title = 'Guides | Secret Boxes'
---
<DefaultLayout title={title}>
    <div class="flex flex-col justify-items-center items-center">
        <!-- TODO: This image is a lottie file and needs to implemented-->
        <Animation client:load id="rocket-lottie" styles="w-[320px] h-[320px]" path="https://assets1.lottiefiles.com/packages/lf20_3uv5fx6c.json" loop={true}></Animation>
        <!-- <img src="/illustrations/rocket_illustration.svg" alt="A rocketship illustration"> -->
        <div class="mt-5 text-lg text-purple-100 font-semibold dark:text-dark-primary">Coming Soon</div>
        <p class="mt-2 mb-6 text-center text-sm text-[#A5A4B1]">To make sure you don't miss out on anything, sign up for our newsletter.<br> 
        We won't email more than once a week.</p>

        <NewsletterSignup client:load></NewsletterSignup>

        <Button 
            client:load
            styles="mt-6" 
            kind="text" 
            disabled={false}
            handler={{ action: '/' }}
            size="sm">Go Back</Button>
    </div>
</DefaultLayout>
