---
import Logo from '../components/Logo.astro';
import HomeLayout from '@layouts/Home.astro';
import Button from '@components/Button.astro';
import Tag from '@components/Tag.astro';
import '../styles/global.css';

let title = 'Home | Secret Boxes';
---
<HomeLayout title={title}>
	<div id="home-hero" class="grid grid-rows-4 justify-items-center items-center h-[calc(100vh_-_2.75rem_-_7rem)]">
		<!--CSS Text strokes are inconsistent across browser. Import title as SVG -->
		<h1 class="text-display font-display tracking-2">
			Secret <span class="">Boxes</span>
		</h1>
		<h2 class="text-[#606060] font-medium text-lg">
			The beautiful, fun and easy way to get started building 
			<span>Secret Apps</span>
		</h2>
		<Button kind="landing" size="w-48 h-14" route="/boxes" text="Start Unboxing"></Button>
		
		<!--Down facing arrow here-->

	</div>

	<div id="how-it-works">
		<div class="text-[#528AD3] text-center text-xsm font-bold tracking-1.5">HOW IT WORKS</div>
		<div class="font-display text-center text-h3 font-bold tracking-1.5">START BUILDING</div>

		<div id="hello-world">
			<div class="inline-flex font-display tracking-1 text-[24px] leading-[27px]">Hello World</div>
			<Tag text="beginner"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="flex">A fun way for developers to quickly learn about working with secret contracts.</p>
			
			<div class="flex">
				<Button kind="primary" size="sm" route="/tutorials" text="Launch">
					<!-- Gitpod Icon -->
					<img slot="pre" src="" alt="">
				</Button>
				<Button kind="secondary" size="sm" route="/tutorials" text="Learn more"></Button>
			</div>
		</div>	
		
		<div id="secret-counter">
			<div class="inline-flex font-display tracking-1 text-[24px] leading-[27px]">Secret Counter</div>
			<Tag text="beginner"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="">Based on “simple counter,” the template for smart contract development on Secret, this box illustrates the basics of querying and modifying contract state using the “getCount” and “increment” messages.</p>
			<div class="flex">
				<Button kind="primary" size="sm" route="/tutorials" text="Launch">

					<!-- Gitpod Icon -->
					<img slot="pre" src="" alt="">
				</Button>

				<Button kind="secondary" size="sm" route="/tutorials" text="Learn more"></Button>
			</div>
		</div>	

		<div id="richie-rich">
			<div class="inline-flex font-display tracking-1 text-[24px] leading-[27px]">Richie Rich</div>
			<Tag text="intermediate"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="">How do you find out who’s the richest without revealing your net worth to the world? This secret box, based on Yao’s Millionaires’ Problem, illustrates how that can be done on Secret.</p>

			<div class="flex">
				<Button kind="primary" size="sm" route="/tutorials" text="Launch">
					<!-- Gitpod Icon -->
					<img slot="pre" src="" alt="">
				</Button>

				<Button kind="secondary" size="sm" route="/tutorials" text="Learn more"></Button>
			</div>
		</div>	
	</div>
</HomeLayout>