---
import Logo from '../components/Logo.astro';
import HomeLayout from '@layouts/Home.astro';
import Button from '@components/Button.astro';
import Tag from '@components/Tag.astro';
import '../styles/global.css';

let title = 'Home | Secret Boxes';
---
<HomeLayout title={title}>
	<!-- Home Page content goes here. -->
	<!-- Note: The way we derive the height for the hero component is by subtracting -->
	<!-- the height of the Nav and Notification component from the viewport height-->
	<!-- May want to refactor later-->
	<div id="home-hero" class="grid grid-cols-2 justify-items-center items-center h-[calc(100vh_-_2.75rem_-_7rem)]">
		<!-- Note: Home Hero title is larger than H1 specified in typography (118px vs 96px) -->
		<div>
			<div class="text-[7.375rem] font-display tracking-1.5">Secret Boxes</div>
			<h5 class="w-[490px] mb-10">The beautiful, fun and easy way to get started building Secret Apps</h5>
			<Button kind="landing" size="lg" route="/boxes" text="Start Unboxing"></Button>
		</div>
		
		<img src="alien_with_boxes.svg" alt="An illustration of an alien with floating boxes.">
		<!--Down facing arrow here-->

	</div>

	<div id="how-it-works">
		<div>HOW IT WORKS</div>
		<div>START BUILDING</div>

		<div id="hello-world">
			<div class="">Hello World</div>
			<Tag attr="Beginner"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="">A fun way for developers to quickly learn about working with secret contracts.</p>
			<Button kind="primary" size="md" route="/tutorials" text="Launch">
				<!-- Gitpod Icon -->
				<img slot="pre" src="" alt="">
			</Button>
			<Button kind="secondary" size="md" route="/tutorials" text="Learn more"></Button>
		</div>	
		
		<div id="secret-counter">
			<div class="">Secret Counter</div>
			<Tag attr="Beginner"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="">Based on “simple counter,” the template for smart contract development on Secret, this box illustrates the basics of querying and modifying contract state using the “getCount” and “increment” messages.</p>
			<Button kind="primary" size="md" route="/tutorials" text="">
				<!-- Gitpod Icon -->
				<img slot="pre" src="" alt="">
			</Button>

			<Button kind="secondary" size="md" route="/tutorials" text="Learn more"></Button>
		</div>	

		<div id="richie-rich">
			<div class="">Richie Rich</div>
			<Tag attr="Intermediate"></Tag>
			<!-- Text size not found in typography of design. Size is 21px = 1.313rem -->
			<p class="">How do you find out who’s the richest without revealing your net worth to the world? This secret box, based on Yao’s Millionaires’ Problem, illustrates how that can be done on Secret.</p>
			<Button kind="primary" size="md" route="/tutorials" text="">
				<!-- Gitpod Icon -->
				<img slot="pre" src="" alt="">
			</Button>

			<Button kind="secondary" size="md" route="/tutorials" text="Learn more"></Button>
		</div>	
	</div>
</HomeLayout>