---
import DefaultLayout from '@layouts/Default.astro';
import TertiaryButton from '@components/ButtonTertiary.astro';

const title = 'Tutorials | Secret Boxes'
---
<DefaultLayout title={title}>
    <h2>"Hello World" Secret Contract</h2>
    <p>Use this tutorial to learn about launching a local Secret Network instance where you'll create the familiar "Hello World" secret contract, run unit tests, and view debug messages in the node logs.</p>

    <div>
        <h3>Launch Developer Blockchain</h3>
        <p>The first thing you'll need to do to start developing secret contracts in your local environment is install and launch a Secret Network blockchain.</p>
        <TertiaryButton text="Let's Go">
            <!--Right facing arrow here -->
        </TertiaryButton>
        <!--UFO SVG here -->
        <!-- Circled Box Icon here -->
        <!-- Line Path SVG here -->
    </div>

    <div>
        <!--Left Side of Screen Planet + Stars group SVG (absolute) -->
        <!-- Circled Box Icon here -->
        <!-- Line Path SVG here -->
        <!--UFO SVG here -->

        <h3>Create "Hello World" Contract</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut varius justo. Phasellus vel urna pellentesque orci ultrices tempus sit amet non neque. Nunc vitae tincidunt justo, in porta dui. Sed feugiat massa ut sapien hendrerit, quis luctus mi congue. Proin sed orci at urna sagittis bibendum id nec elit.</p>
        <TertiaryButton text="Use Docker To Launch Your Secret Node">
            <!--Right facing arrow here -->
        </TertiaryButton>
    </div>

    <div>
        <h3>Launch Developer Blockchain</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut varius justo. Phasellus vel urna pellentesque orci ultrices tempus sit amet non neque. Nunc vitae tincidunt justo, in porta dui. Sed feugiat massa ut sapien hendrerit, quis luctus mi congue. Proin sed orci at urna sagittis bibendum id nec elit.</p>
        <TertiaryButton text="Find Out What Your Secret Contract Is Doing">
            <!--Right facing arrow here -->
        </TertiaryButton>
        <!--UFO SVG here -->
        <!-- Circled Box Icon here -->
        <!-- Line Path SVG here -->

        <!--Right Side of Screen Moon + Stars group SVG (absolute) -->
    </div>


    <!-- Line Path SVG here -->
    <!-- Circled Box Icon here -->

    <h3>Now You're Ready to Try It!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut varius justo. Phasellus vel urna pellentesque orci ultrices tempus sit amet non neque. Nunc vitae tincidunt justo, in porta dui. Sed feugiat massa ut sapien hendrerit, quis luctus mi congue. Proin sed orci at urna sagittis bibendum id nec elit.</p>

    <TertiaryButton text="See It In Action">
        <!--Right facing arrow here -->
    </TertiaryButton>

    <!--UFO + Tree Illustration SVGs here -->

</DefaultLayout>