---
// AttributeTag.astro is used for bordered box elements as seen
// on the Home page.
export interface Props {
    attr: string,
};

const { attr = 'New' } = Astro.props;
---
<div class="inline-block w-9 h-8 font-semibold text-gray-300 border-solid border border-gray-300">
    {attr}
</div>