---
export interface Props {
    text: string,
    route?: string,
};

const { text = 'Button', route = '#' } = Astro.props;
---
<button>
    <a href={route}>
        <slot name="pre-text" />
        {text}
        <slot name="post-text" />
        <slot />
    </a>
</button>