<footer class="grid grid-cols-2 items-center border-t border-[#14142B] py-10 w-3/5 mx-auto">

    <div class="text-background text-sm space-x-8">
        <a href="">SCG Foundation</a>
        <a href="">About</a>
        <a href="">Support</a>
    </div>
    
    <p class="text-purple-100 text-sm justify-self-end">&#169; SecretChainGirl Foundation LLC</p>
</footer>