<footer class="sticky top-[100vh] lg:grid lg:grid-cols-2 lg:items-center border-t border-[#14142B] dark:border-dark-primary py-10 lg:w-3/5 mx-8 lg:mx-auto">

    <div class="text-background dark:text-dark-primary text-sm lg:space-x-8">
        <a class="block lg:inline text-left" href="https://secretchaingirl.io/">SCG Foundation</a>
        <a class="block lg:inline text-left" href="/about">About</a>
        <a class="block lg:inline text-left" href="/support">Support</a>
    </div>
    
    <p class="text-purple-100 text-sm justify-self-end dark:text-dark-primary">&#169; SecretChainGirl Foundation LLC</p>
</footer>