<footer>
    <p>&#169; SecretChainGirl Foundation</p>

    <ul id="footer-navigation">
        <li>SCG Foundation</li>
        <li>Contact</li>
        <li>Support</li>
        <li>Team</li>
        <li>Privacy Policy</li>
    </ul>

    <ul id="footer-socials">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</footer>