---
import Input from '@components/Input.svelte';
import ThemeToggle from '@components/ThemeToggle.astro';
import TopNav from '@components/TopNav.svelte';
---
<header class="grid grid-cols-2 h-20 items-center">
    <a class="inline justify-self-center" href="/">
        <img class="inline" src="/logos/logo_48x48.svg" alt="Secret Boxes Logo">
    </a>

    <div class="inline-flex items-center space-x-4">
        <TopNav client:load></TopNav>
        <Input 
            name=""
            styles="bg-search bg-no-repeat bg-left-center"
            padding="pl-8"
            height="h-[38px]" 
            width="w-40" 
            type="search" 
            placeholder="Search">
        </Input>
        <ThemeToggle></ThemeToggle>
    </div>
</header>
