---
export interface Props {
    img: string,
    route: string,
    alt?: string,
};

const { 
    img = '/logo.svg',
    route = '/',
    alt = 'This is a social button'
} = Astro.props;
---
<a class="mr-4" href={route}>
    <img src={img} alt={alt}>
</a>