---
import SocialButton from '@components/SocialButton.astro';
---
<div>
    <p id="notification-bar-announcement">Secret Boxes: Now in Alpha</p>

    <ul id="notification-bar-socials">
        <!-- Likely want to create a Social Button component for these -->
        <li><SocialButton img="/logo.svg"></SocialButton></li>
        <li><SocialButton img="/logo.svg"></SocialButton></li>
        <li><SocialButton img="/logo.svg"></SocialButton></li>
        <li><SocialButton img="/logo.svg"></SocialButton></li>
    </ul>
</div>