<div>
    <p id="notification-bar-announcement">Secret Boxes: Now in Alpha</p>

    <ul id="notification-bar-socials">
        <!-- Likely want to create a Social Button component for these -->
        <li>Discord</li>
        <li>Youtube</li>
        <li>Telegram</li>
        <li>Twitter</li>
    </ul>
</div>