---
import SocialButton from '@components/SocialButton.astro';
---
<div class="grid grid-cols-3 grid-rows-1 bg-yellow h-11">
    <div id="annoucement" class="self-center text-center col-start-2">Secret Boxes: Now in Alpha 🤫</div>

    <div class="self-center justify-self-end mr-40">
        <SocialButton img="/discord_icon.svg"></SocialButton>
        <SocialButton img="/youtube_icon.svg"></SocialButton>
        <SocialButton img="/telegram_icon.svg"></SocialButton>
        <SocialButton img="/twitter_icon.svg"></SocialButton>
    </div>
</div>