---
// Home.astro defines a generic layout for the index.astro page to use. 
// Specifically, the home page requires a custom footer.
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Button from '@components/Button.astro';
import Input from '@components/Input.astro';
import SocialButton from '@components/SocialButton.astro';

export interface Props {
    title: string,
};

const { title = 'Secret Boxes' } = Astro.props;
---
<html lang="en">
    <Head title={title}></Head>
    
    <body class="min-h-screen">
	    <div class="absolute w-screen h-screen pointer-events-none bg-hero-sky bg-no-repeat bg-local bg-center"></div>
	    <div class="absolute w-screen h-screen pointer-events-none bg-hero bg-no-repeat bg-local bg-center"></div>

        <Header></Header> 

        <main class="w-screen">
            <slot />
        </main>

        <!-- Note: Home page requires a special footer-->
        <footer class="sticky top-[100vh] min-h-[450px] grid grid-cols-footer mt-80">
            <div id="footer-left" class="bg-primary">
                <div class="grid grid-rows-footer-left h-full w-[50%] m-auto">

                    <div class="self-center">
                        <label class="block mb-2 text-left text-background" for="newletter-input">STAY UP TO DATE</label>

                        <Input width="w-96" placeholder="paul@altermail.com" type="search">
                            <Button 
                                styles="absolute top-1.5 right-0 cursor-pointer leading-none z-10 translate-x-2 tracking-0.5"
                                kind="primary" 
                                text="Subscribe" 
                                route='' 
                                size="sm">
                            </Button>
                        </Input>

                        <p class="w-96 mt-8 text-sm text-[#272727]">We’d love to hear from you! Feel free to contact us with your ideas or feedback.<br>
                        And check out our <span class="font-bold">Github</span> to see how you can contribute.</p>

                        <div class="flex mt-10">
                            <SocialButton img="/icons/github_icon.svg" route="/" alt="Github Icon"></SocialButton> 
                            <SocialButton img="/icons/telegram_icon.svg" route="/" alt="Telegram Icon"></SocialButton> 
                            <SocialButton img="/icons/discord_icon.svg" route="/" alt="Discord Icon"></SocialButton> 
                            <SocialButton img="/icons/twitter_icon.svg" route="/" alt="Twitter Icon"></SocialButton> 
                            <SocialButton img="/icons/youtube_icon.svg" route="/" alt="YouTube Icon"></SocialButton> 
                        </div>
                    </div>
                                        
                    <div class="flex shrink text-purple-100">
                        <a class="self-end mb-9 mr-4" href="https://secretchaingirl.io/">SecretChainGirl.io</a>
                        <a class="self-end mb-9 mr-4" href="/about">About</a>
                        <a class="self-end mb-9 mr-4" href="/support">Support</a>
                    </div>
                </div>
            </div>

            <div id="footer-right" class="bg-secondary flex text-white">
                <p class="self-end mb-9 ml-6">© 2022 SecretChainGirl Foundation LLC</p>
            </div>
        </footer>
    </body>
</html>
