---
// Home.astro defines a generic layout for the index.astro page to use. 
// Specifically, the home page requires a custom footer.
import Header from '@components/Header.svelte';
import NewsletterSignup from '@components/NewsletterSignup.svelte';
import SocialButton from '@components/SocialButton.astro';
import { BoxPostFrontmatter } from '../lib/Boxes';
export interface Props {
    title: string,
};

const posts = await Astro.glob<BoxPostFrontmatter>('../content/**/*.md');
const { title = 'Secret Boxes' } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="UTF-8">                                                                          
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta name="description" content="Secret Boxes is dedicated to providing high quality code examples and descriptive guides for developers building on Secret Network.">
        <title>{title}</title>   
    </head>

    <body class="min-h-screen dark:bg-background">
	    <div class="absolute w-full h-full pointer-events-none bg-hero-sky bg-no-repeat bg-contain bg-center lg:bg-auto -z-30"></div>
	    <div class="absolute w-full h-full pointer-events-none bg-hero bg-no-repeat bg-cover bg-center lg:bg-auto -z-20"></div>

        <Header client:load posts={posts}></Header> 

        <main>
            <slot />
        </main>

        <!-- Note: Home page requires a special footer-->
        <footer class="sticky top-[100vh] min-h-[450px] grid grid-cols-1 mt-16 lg:grid-cols-footer lg:mt-80">
            <div class="hidden lg:block absolute w-full h-full pointer-events-none bg-footer bg-no-repeat bg-auto bg-footer-offset z-10"></div>
            <div class="bg-primary pt-8 lg:p-0">
                <div class="ml-8 lg:grid lg:grid-rows-footer-left lg:h-full lg:w-[50%] lg:m-auto">

                    <div class="mr-8 lg:mr-0 lg:self-center">
                        <label class="block lg:mb-2 text-left text-background" for="newletter">STAY UP TO DATE</label>

                        <NewsletterSignup client:visible></NewsletterSignup>

                        <p class="my-8 lg:w-96 lg:mt-8 text-sm text-[#272727]">We’d love to hear from you! Feel free to contact us with your ideas or feedback.<br>
                        And check out our <span class="font-bold">Github</span> to see how you can contribute.</p>

                        <div class="mb-8 flex lg:mt-10">
                            <SocialButton img="/icons/github_icon.svg" route="https://github.com/secretchaingirl" alt="Github Icon"></SocialButton> 
                            <SocialButton img="/icons/telegram_icon.svg" route="/" alt="Telegram Icon"></SocialButton> 
                            <SocialButton img="/icons/discord_icon.svg" route="/" alt="Discord Icon"></SocialButton> 
                            <SocialButton img="/icons/twitter_icon.svg" route="https://twitter.com/secretchaingirl" alt="Twitter Icon"></SocialButton> 
                            <SocialButton img="/icons/youtube_icon.svg" route="/" alt="YouTube Icon"></SocialButton> 
                        </div>
                    </div>
                                        
                    <div class="flex shrink text-purple-100">
                        <a class="self-end mb-9 mr-4" href="https://secretchaingirl.io/">SecretChainGirl.io</a>
                        <a class="self-end mb-9 mr-4" href="/about">About</a>
                        <a class="self-end mb-9 mr-4" href="/support">Support</a>
                    </div>
                </div>
            </div>

            <div id="footer-right" class="bg-secondary flex text-white">
                <p class="self-end mb-9 ml-6">© 2022 SecretChainGirl Foundation LLC</p>
            </div>
        </footer>
    </body>
</html>
