---
import DefaultLayout from '@layouts/Default.astro';
import Button from '@components/Button.astro';

const { content } = Astro.props;
---
<!-- Note: May want to validate format of content props -->
<DefaultLayout title={content.title}>
    <div id="hero">
        <h2>{content.title}</h2>

        <div>
            <div id="author">
                <!-- User Icon -->
                <p>{content.author}</p>
            </div>
                <!-- Calendar Icon -->
                <p>{content.date}</p>
        </div>
    </div>

    <slot />

    <Button kind="secondary" route="/" size="large" text="Back To Tutorial Page">
        <!-- Right facing arrow (post-text) here-->
    </Button> 
</DefaultLayout>